<a href="https://colab.research.google.com/github/Sakshi266/Hotel_Bookings_Analysis/blob/main/Operators_assi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Write a Python program to take two numbers as input from the user and display their sum.***

In [ ]:
num1=int(input("Enter the number="))
num2=int(input("Enter the number="))
sum=num1+num2
print(sum)

Enter the number=10
Enter the number=20
30

***Calculate and print the midpoint of two numbers entered by the user.***

In [ ]:
num1=float(input("Enter the number="))
num2=float(input("Enter the number="))
midpoint=num1+num2/2
print(midpoint)

Enter the number=30.3
Enter the number=20.8
40.7

***Write a Python program to calculate the area of a triangle using the formula: area = 0.5 * base * height.***

In [ ]:
base=float(input("Enter base of triangle = "))
height=float(input("Enter height of triangle = "))
area=0.5*base*height
print(area)

Enter base of triangle = 30
Enter height of triangle = 34
510.0

***Take three numbers as input from the user and display their product.***

In [ ]:
x=float(input("Enter the 1st num ="))
y=float(input("Enter the 2nd num ="))
z=float(input("Enter the 3rd num ="))
product = x * y * z
print(product)

Enter the 1st num =3
Enter the 2nd num =3
Enter the 3rd num =3
27.0

***Take a number as input and display its square and cube.***

In [ ]:
a=float(input("Enter the num = "))
print("Square :",a**2)
print("cube :",a**3)

Enter the num = 3
Square : 9.0
cube : 27.0

***Take two numbers as input and display their quotient and remainder.***

In [ ]:
a=float(input("Enter the num = "))
b=float(input("Enter the num = "))
print("quotient:",a // b)
print("reminder :",a % b)

Enter the num = 78
Enter the num = 67
quotient: 1.0
reminder : 11.0

***Take three numbers as input and display their average.***

In [ ]:
x=float(input("Enter the 1st num ="))
y=float(input("Enter the 2nd num ="))
z=float(input("Enter the 3rd num ="))
average=(x+y+z)/3
print(average)

Enter the 1st num =2
Enter the 2nd num =4
Enter the 3rd num =3
3.0

***Write a Python program to calculate the area of a rectangle using the formula: area = length * width.***

In [ ]:
length=float(input("Enter the length ="))
width=float(input("Enter the width ="))
area=length * width
print(area)

Enter the length =3
Enter the width =4
12.0

***Take five numbers as input representing marks obtained and total marks.
Display the percentage.***

In [ ]:
a=float(input("Enter the obtained marks = "))
b=float(input("Enter the total marks = "))
percentage=(a/b)*100
print(percentage)

Enter the obtained marks = 400
Enter the total marks = 300
133.33333333333331

***Write a Python program to swap two numbers entered by the user without using a third variable.***

In [ ]:
a = float(input("Enter first number= "))
b = float(input("Enter second number= "))
a, b = b, a
print("swapping: a =", a, ", b =", b)

Enter first number= 30
Enter second number= 0
swapping: a = 0.0 , b = 30.0

***Take a number as input and check whether it is even or odd.***

In [ ]:
a = int(input("Enter a number: "))
if a % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 43
Odd number

***Write a Python program to convert temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32.***

In [ ]:
celsius = float(input("Enter the Celsius = "))
fahrenheit = (celsius * 9/5) + 32
print(fahrenheit)

Enter the Celsius = 30
86.0

***Write a Python program to convert temperature from Fahrenheit to Celsius using the formula: C = (F - 32) × 5/9.***

In [ ]:
fahrenheit=float(input("Enter the fahrenheit = "))
celsius=(fahrenheit-32)*5/9
print(celsius)

Enter the fahrenheit = 30
-1.1111111111111112